@mixin buttonWhite() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #fff;
  border: solid 2px #E15F52;
  color: #E15F52;
}
@mixin buttonRed() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #E15F52;
  color: #ffffff;
  width: auto;
}
@mixin buttonWhiteHover() {
  background-color: #FFEDE6;
  color: #E15F52;
  transition: 0.2s;
}
@mixin buttonRedHover() {
  background-color: #E15F52B2;
  color: #FFFFFF;
  transition: 0.2s;
}