@mixin buttonWhite() {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
  border: solid 2px #E15F52;
  color: #E15F52;
}
@mixin buttonRed() {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #E15F52;
  color: #ffffff;
  width: auto;
}